<div class="kiosk">
  <div class="card">
    <div class="loader"></div>
    <h1>Locker Opened</h1>
    <p class="success">Place parcel and close the door</p>
  </div>
</div>

<%- include("partials/style") %>
